/******************* common **************/

.grayed-out::before,
.grayed-out::after,
.yellowed-out::before,
.yellowed-out::after {
    content: " — ";
}

nav a,
a.submit,
a.section,
.quests-table .table-row,
.day-tiles a
{
    text-decoration: none;
}

/* loader support */
#price-summary,
#delayed-payments-summary {
    position: relative;

    & .loader {
        position: absolute;
        left: 0; right: 0;
    }
}

/*** plot ***/

#clients-stats-graph,
.plot {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr auto;
    text-align: center;
    gap: 0.25em;
}

#clients-stats-graph{
    grid-template-rows: 1fr auto auto;
}
.bar{
    background: var(--primary);
    /* background: linear-gradient(to bottom, rgb(var(--ui-clr-1)), var(--fg)); */
    width: 100%;
    border-radius: 0.25em;
}
.horizontal .bar{
    width: unset;
    height: 1.25em;
}
.bar-container{
    display: flex; justify-content: center; align-items: flex-end; position: relative;
}
.bar-container.horizontal{
    justify-content: left;
    align-items: center;
}
#clients-stats-graph .value, .bar-container .value{
    font-family: "Montserrat", "Raleway", "Arial", "sans-serif";
    font-size: 1.5em;
}
.bar-container .value{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; text-align: center;
}
.bar-container.horizontal .value{
    text-align: left;
    font-size: 1em;
    left: 0.25em;
}
.plot .label.vertical{
    rotate: 90deg;
    transform-origin: 0 0;
    translate: 2em 0.25em;
}

/******************* individual **************/

a {
    text-decoration-color: rgba(128, 128, 128, 0.5);
    color: inherit;
}

body {
    --font-size: 14px !important;
}

#background-division {
    & > * {
        height: 80vh;
        margin-block: 10vh;
        position: fixed; top: 0; bottom: 0;
        z-index: -1;
        opacity: 0;
        --target-opacity: 0.025;
        left: 0;

        animation: appearing 9s infinite;

        &:nth-child(2) {
            animation-delay: 3s;
        }
        &:nth-child(3) {
            animation-delay: 6s;
        }

        &:last-child {
            opacity: 0.025;
            animation: none;
            left: unset;
            right: 0;
        }
    }
}

@keyframes appearing {
    0% {
        opacity: 0;
    }
    10% {
        opacity: var(--target-opacity);
    }
    33% {
        opacity: var(--target-opacity);
    }
    43% {
        opacity: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: var(--bg-lite2);
    }
}

.backdropped {
    background-color: var(--bg-lite1);
    padding: 1em;
}

.calendar-table {
    & th {
        text-align: center !important;
    }
    & .cal-row {
        & > td {
            white-space: nowrap;
            vertical-align: top;
            padding-bottom: 0.5em;
        }

        & .free{
            opacity: 0.5;
        }
        & .weekend{
            color: goldenrod;
        }
        & .suggest{
            color:hsl(108, 100%, 39%) !important;
        }
    }
}

.contact-info {
    & a {
        text-decoration: none;;
    }

    & > * {
        gap: 0.25em;
        vertical-align: middle;
    }
}

.diff-hot{
    color: hsl(45, 100%, 50%)
}
.diff-cold{
    color: hsl(225, 100%, 68%)
}

.file-container-a{
    text-align: left;
    background-color: var(--bg-lite2);
    border-radius: 2em;
    padding: 1em; margin: 0.25em 0;
    position: relative;

    & h4 {
        margin: 0;
        border-bottom: 2px solid var(--primary);
    }

    & .file-super {
        position: absolute; bottom: 0; left: 0; right: 0;
        text-align: center;
        font-size: 0.5em;

        &::after, &::before {
            content: "–";
            margin: 0 1em;
        }
    }
}

.file-container-b{
    position: relative;
    margin-block: 0.25em;

    & > .heading-wrapper {
        gap: 0.25em;
    }
    & h5{
        margin: 0;
    }

    & > .submit{
        position: absolute; right: 0; top: 0;
        margin: 0;
        font-size: 0.5em;
    }
}

.file-container-c{
    display: flex;
    align-items: center; justify-content: center;
}

.file-player {
    width: 12em !important;
    height: auto !important;
    padding-inline: 0.25em;
    align-content: center !important;
    gap: 0.25em;

    & #mdi-loading {
        animation: rotate 1s ease-in-out infinite;
    }
}

.file-tile{
    width: 3em; height: 4.5em;
    margin: 3px;
    padding: 0.25em;
    background-color: var(--bg);

    & .hidden {
        display: none;
    }

    & .container {
        width: 2em;
    }
    & .icon {
        font-size: 2em;
        display: block; width: 100%;
    }
}
.mp3{ color: rgba(39, 197, 0, 0.8); }
.mp4, .mid{ color: rgba(255, 0, 0, 0.8); }
.wav, .flac{ color: rgba(0, 162, 255, 0.8); }
.pdf, .zip{ color: rgba(150, 153, 155, 0.8); }

.file-tag{
    display: inline-flex !important;
    border-radius: 1em;
    padding: 0 3px;
    user-select: none;
    width: 1.5em;
    height: 1.2em;
    vertical-align: middle;
    color: black;
    font-family: var(--heading-font);

    & svg {
        height: 1.2em;
    }
}

footer .icon.invert-when-dark {
    filter: invert(1);
}

.grayed-out{
    font-style: italic;
    color: gray;
    grid-column: 1 / span 2;
}

.hint {
    font-size: 1.5em;

    &.tutorial{
        color: rgb(172, 53, 118);
    }
}

.hint-table {
    & div {
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
    }
    & .grayed-out {
        grid-column: 1 / span 2;
        text-align: center;
    }
    & .positions span {
        padding: 0.25em;

        &:nth-child(4n+3),
        &:nth-child(4n) {
            background-color: var(--bg-lite2);
        }
    }
    & div span:nth-child(even) {
        text-align: right;
    }
    & .summary {
        font-weight: bold;
    }
}

#invoice{
    position: relative;
    gap: 2em;

    & .dates{
        position: absolute; right: 0; top: 0;
    }

    & .account {
        & h2,
        & h3:not(:first-child){
            margin: 0;
        }
        & h3:first-child{
            border-bottom: 2px solid var(--bg-lite2);
        }
    }

    & .summary{
        text-align: right;
        margin: 1em 0 1em auto;
        width: fit-content;
        font-size: 1.5em;
        gap: 0;

        & .small{
            margin: 0;
            /* font-size: 0.75em; */
            opacity: 0.5;
        }
    }

    & .grid{
        gap: 0 1em;
        align-items: inherit;
    }

    & .name-value {
        grid-template-columns: auto auto;

        & span:nth-child(odd) {
            font-weight: bold;
        }
        &.summary span:nth-child(even) {
            font-family: "Montserrat", "Raleway", "Arial", "sans-serif";
        }
    }
}

.phase-bar {
    & > [role="label"] > * {
        margin: 0;
    }
}

.priority {
    div&,
    &.submit {
        border: 3px solid var(--danger);
    }

    b&,
    & b,
    &.submit {
        color: var(--danger);
    }

    &.button {
        --accent-color: var(--danger);
    }
}

#quest-history {
    text-align: center;

    & [role="circles"] {
        max-width: none;

        & .history-position{
            display: inline-flex;
            --circle-size: 2.5em;

            & .circle{
                margin: 0;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-size: 1.5em;
                width: var(--circle-size); height: var(--circle-size);
                background: var(--bg-lite1);
                &:hover{
                    background: rgba(var(--q-clr), 0.5);
                }
                &.by-client{
                    border: 2px solid var(--primary);
                }

                &.small {
                    width: calc(var(--circle-size) / 3); height: calc(var(--circle-size) / 3);
                }
                &.active {
                    background-color: var(--primary) !important;
                }
            }
            & .notification-counter{
                max-width: var(--circle-size);
                white-space: wrap;
                text-align: center;

                & > .icon {
                    display: inline-block;
                    --icon-size: 1.1em;
                }
            }
        }
    }
}

.quest-mini {
    display: grid;
    grid-template-columns: 1fr 10em 12em;
    gap: 0.25em;
    align-items: center;
    border-radius: 1em;
    padding: 0.25em;
    text-decoration: none;

    --q-clr: 128, 128, 128;

    &:hover {
        background: rgba(var(--q-clr), 0.3);
        color: var(--fg);
    }
}
@container section (width < 600px) {
    .quest-mini {
        display: flex;
        flex-direction: column;
    }
}

.quest-type {
    font-size: 2em;
}

.sc-line {
    border-style: dashed !important;
    border-width: 5px !important;
    position: relative;

    &.top-only {
        border-left: none; border-bottom: none; border-right: none;
        position: absolute; left: 0; right: 0;
    }

    & .sc-scissors {
        --height: 42px;
        position: absolute;
        top: calc(-1 * var(--height) - 10px); right: 100px;
        height: var(--height);
    }

    & .sc-note1,
    & .sc-note2 {
        position: absolute;
    }

    & .sc-note1 {
        top: -45px; right: 65px;
        height: 30px;
    }

    & .sc-note2 {
        top: -40px; right: 35px;
        height: 35px;
    }
}

section, .section {
    &:not(.backdropped) {
        background: transparent;
    }

    &.container {
        container-name: section;
        container-type: inline-size;
    }

    &:hover {
        border-color: var(--fg);
    }
}

section {
    &:first-of-type{
        margin-top: 0;
    }
    & h1, & h2, & h3 {
        margin: 0;
    }

    & [role="contents"] {
        & > [role="model-card"] {
            margin-block: 0.5em;
        }
    }
}

.section{
    border: 3px solid var(--bg-lite2);
    border-radius: 1em;
    padding: 1em;

    &:last-child{ margin-bottom: 0; }
}

.showcase-highlight {
    color: rgb(36, 172, 250);
}

.stats-highlight-h{
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    text-align: center;
    border-top: 1px solid var(--bg-lite2);
    border-bottom: 1px solid var(--bg-lite2);
    border-radius: 0;
    padding: 0.25em 0;

    & p, & h3{
        margin: 0;
        display: flex; justify-content: center; align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
}

table {
    width: 100%;
    border-spacing: 0;

    & td,
    & th {
        text-align: right !important;
    }

    & td:first-child,
    & th:first-child {
        text-align: left !important;
    }
    & tr:hover {
        background-color: var(--bg-lite2);
    }
}

.yellowed-out{
    font-style: italic;
    color: var(--danger);
}

@media (prefers-color-scheme: dark) {
    .white-on-black {
        filter: invert(0.9);
    }
}

@media screen and (max-width: 600px) {
    .contact-info .flex.right {
        justify-content: center;
    }
}

@media print{
    @page {
        margin: 0;
    }
    body {
        --margin: 36px;
        padding: var(--margin);
        padding: var(--margin);
    }
    footer{
        padding: 0 var(--margin);
        width: calc(100% - 2 * var(--margin));
    }
    .hide-for-print{
        display: none !important;
    }
    #invoice{
        font-size: 11px;
    }
}
