@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Krona+One&display=swap');
:root{
    --ui-clr-1: #fffaa1;
    --ui-clr-2: #926fa8;
}

/*****************UNIVERSALS****************/
h1, h2, h3, h4{
    font-family: "Krona One";
    font-weight: normal;
}
.logo{
    height: 5em;
}
.flex-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hover-lift:hover{
    color: inherit;
    box-shadow: 0 0 1rem #00000044;
}
.auth-link{
    border: solid 2px var(--ui-clr-2);
}
.grayed-out{
    font-style: italic;
    color: gray;
}
.grayed-out::before, .grayed-out::after{
    content: " — ";
}

/* CLICKABLE */
a{
    text-decoration: none;
    color: inherit;
    transition-duration: 0.3s;
}
a:hover{
    color: var(--ui-clr-2);
}

/* FORM */
.input-container{
    margin: 0.2em 0;
    position: relative;
}
input, select, textarea, button{
    background: none; color: inherit;
    font-family: Raleway;
    border-left: none; border-right: none; border-top: none;
}
input, select, button{
    font-size: 1.5em;
    text-align: center;
}
input:disabled, select:disabled, textarea:disabled{
    border-color: #aaaaaa22;
}
option{
    background-color: var(--bg);
}
.input-hint{
    position: absolute; top: 0; right: 0;
    text-align: right;
    z-index: 5;
}
label{
    font-style: italic;
    color: dimgray;
}
input[type="checkbox"]{
    height: 1.2em;
    accent-color: var(--ui-clr-2);
}
*[type="submit"]{
    width: fit-content;
    padding: 0.5em 1.5em;
    margin: 0.5em auto 0;
    border: 2px solid black;
    border-radius: 2em;
    transition-duration: 0.3s;
    background-color: var(--ui-clr-1); color: black;
}
*[type="submit"]:hover{
    background-color: var(--ui-clr-2);
    color: white;
    border-color: white;
}
*[type="submit"]:active{
    background-color: white;
    border: inset 2px black;
}

/* ALERTS */
.alert{
    border-radius: 1em;
    position: absolute; right: 3em;
    border: 2px solid gray;
    box-shadow: 0.5em 0.5em 1.5em #00000044;
    padding: 1em;
    opacity: 0; translate: 0 -50px;
    transition-duration: 0.3s;
    font-weight: bold;
}
.alert.in{
    opacity: 1;
    translate: 0 0;
}
.success{
    --clr: #16bf16;
    --clr-wh: #b5ffb5c5;
    color: var(--clr);
}
.error{
    --clr: #ec2e28;
    --clr-wh: #f8a3a0ce;
    color: var(--clr);
}
.alert.success, .alert.error{
    border-color: currentColor;
    background-color: var(--clr-wh);
}

/**********************BODY*****************/
body{
    font-family: "Raleway";
    margin: 0;
    display: flex; flex-direction: column; align-items: stretch;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.main-wrapper{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto; padding: 2em;
}

/**********************HEADER***************/
header{
    padding: 2em 4em;
    display: flex; flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom right, lightgray, var(--ui-clr-1));
    box-shadow: 0 0 50px #00000077;
    color: black;
}
header h1{
    margin: 0 0.5em 0 0;
}
header h2{
    color: dimgray;
    opacity: 0.6;
    font-family: "Raleway";
    margin: 0;
    text-align: center;
}
header .flex-right{
    align-items: baseline;
}

/**********************NAV******************/
nav{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
nav a{
    margin: 0.2em 1em 0.2em 0;
    padding: 0.5em;
    border-radius: 1em;
}
nav li{
    list-style-type: none;
}
nav .active{
    background-color: var(--ui-clr-1);
}

/**********************FOOTER***************/
footer{
    background: linear-gradient(to bottom right, #333, dimgray);
    background-image: url('/background.jpg');
    padding: 1em 5em;
    position: absolute; bottom: 0;
    width: calc(100vw - 2*5em);
    display: flex; flex-direction: row-reverse; align-items: center;
    font-size: 85%;
    text-align: right;
    color: white;
}
footer h2, footer p{
    margin: 0;
}
footer>img{
    justify-self: center;
}

/************************MOBILITY**************/
@media screen and (max-width: 600px){
    .flex-right{
        flex-direction: column;
    }
    .main-wrapper{
        padding: 2em 1em;
        margin: 1em auto;
    }

    header{
        padding: 2em 1em;
        flex-direction: column;
    }
    header h1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header .flex-right{
        align-items: center;
    }

    nav{
        justify-content: center;
    }
    nav a{
        margin: 0.2em 1em;
    }

    footer{
        position: static;
        width: auto;
        margin-top: 3em; padding: 1em;
        flex-direction: column-reverse;
        text-align: center;
    }
}
