@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Krona+One&family=Montserrat:wght@700&display=swap');
:root{
    --acc: #60cc89;

    --ok: 46, 184, 46;
    --warning: 247, 167, 20;
    --danger: 218, 69, 69;
}

@media (prefers-color-scheme: dark){
    :root{
        --bg: #222;
        --bg1: #333;
        --bg2: #444;
        --fg: #eee;
        /* --acc: hsl(47, 100%, 62%); */
        --bas: hsl(39, 24%, 73%);
    }
}
@media (prefers-color-scheme: light){
    :root{
        --bg: white;
        --bg1: #eee;
        --bg2: #ddd;
        --fg: black;
        /* --acc: hsl(271, 58%, 59%); */
        --bas: hsl(0, 0%, 88%);
    }
}

/*****************UNIVERSALS****************/
*{
    transition-duration: 0.3s;
}
body{
    font-family: "Raleway";
    margin: 0; padding-bottom: 7em;
    display: flex; flex-direction: column; align-items: stretch;
    overflow-x: hidden;
    position: relative;
    min-height: calc(100vh - 7em);
    background-color: var(--bg); color: var(--fg);
}
h1, h2, h3, h4, h5{
    font-family: Montserrat;
    font-weight: normal;
}
h2{
    color: var(--acc);
    font-size: 1.35em;
}
section{
    border-radius: 1em;
    /* background-color: var(--bg1); */
    border: 3px solid var(--bg2);
    margin: 1em 0 0;
    padding: 1em;
}
section:hover, .section-like:hover{
    border-color: var(--fg);
}
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 0;
}
.section-header:first-of-type{
    margin-top: 0;
}
.section-header h1, .section-header h2, .section-header h3{
    margin: 0;
}
.section-header>div{
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: flex-end;
    gap: 0.5em;
}
small{
    font-family: Raleway;
    font-weight: bold;
}
div, form{
    border-radius: 1em;
}
.logo{
    height: 5em;
    margin: 0.5em;
    /* color set to --acc if it was black pic */
    /* filter: invert(70%) sepia(4%) saturate(5329%) hue-rotate(91deg) brightness(101%) contrast(84%); */
}
.grid-2, .grid-3{ display: grid; gap: 1em; align-items: flex-start; }
.grid-2{ grid-template-columns: 1fr 1fr; }
.grid-3{ grid-template-columns: 1fr 1fr 1fr; }
.flex-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.flex-down{
    display: flex;
    flex-direction: column;
}
.flex-down.spaced{
    gap: 1em;
    margin-block: 1em;
}
.flex-down.center{
    align-items: center;
    text-align: center;
}
.flex-right.center{
    justify-content: center;
}
.hover-lift:hover{
    color: inherit;
    box-shadow: 0 0 1rem #00000044;
}
.hover-light:hover{
    color: inherit;
    box-shadow: 0 0 1em inset var(--acc);
}
.auth-link{
    border: solid 2px var(--acc);
}
.flex-right .first{ order: 1; }
.flex-right :not(.first){ order: 99; }

/* UNI COLORS */
.showcase-highlight{
    color: rgb(36, 172, 250);
}
.ghost{
    opacity: 0.4;
}
div.priority, .submit.priority{
    border: 3px solid rgb(var(--danger));
}
b.priority, .priority b, .submit.priority{
    color: rgb(var(--danger));
}
.grayed-out{
    font-style: italic;
    color: gray;
    grid-column: 1 / span 2;
}
.yellowed-out{
    font-style: italic;
    color: rgb(var(--warning));
}
.grayed-out::before, .grayed-out::after, .yellowed-out::before, .yellowed-out::after{
    content: " — ";
}
.tutorial{
    color: rgb(172, 53, 118);
    font-style: italic;
    text-align: left;
    margin: 1em 0;
}
.tutorial ul{ margin: 0; }
.tutorial p{ margin: 0.2em auto; }

/* CLICKABLE */
a{
    text-decoration-color: rgba(128, 128, 128, 0.5);
    color: inherit;
}
a:hover, .accent{
    color: var(--acc);
    text-decoration-color: var(--acc);
}
nav a,
a.submit,
.contact-info a,
.quests-table .table-row,
.day-tiles a
{
    text-decoration: none;
}
.bigger {
    scale: 1.2;
}

/* FORM */
.login-box{
    max-width: 500px;
    margin: 0 auto;
}
form, .login-grid-container, .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form.center{
    align-items: center;
}
.input-container{
    margin: 0.2em 0;
    position: relative;
}
.input-container.input-small input, .input-container.input-small select{
    font-size: 1em;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group a, .input-group button{
    align-self: center;
}
section h2, section h3{
    margin-bottom: 0;
}
.login-grid-container{
    padding: 0 2em;
}
input, select, textarea, button, .submit{
    background: none; color: inherit;
    font-family: Raleway;
    border-left: none; border-right: none; border-top: none;
    outline: none;
}
textarea{
    height: 3em;
    resize: vertical;
    transition-duration: 0s;
}
.select2-dropdown, .select2-selection--single{ background-color: var(--bg) !important; color: var(--fg) !important; }
input, select, button, .submit{
    font-size: 1.2em;
    text-align: center;
}
input:disabled, select:disabled, textarea:disabled{
    border-color: #aaaaaa22;
}
input:focus, select:focus, textarea:focus{
    box-shadow: 0 0 15px var(--acc);
}
option{
    background-color: var(--bg);
}
.input-hint{
    position: absolute; top: 0; right: 0;
    text-align: right;
    z-index: 5;
}
label{
    font-style: italic;
    color: dimgray;
}
input[type="checkbox"]{
    height: 1.2em;
    accent-color: var(--acc);
}
input[type="file"]{
    display: none;
}
*[type="submit"], .submit{
    display: inline-block;
    width: fit-content;
    padding: 0.5em 1em; margin: 0.5em auto 0;
    border: 2px solid var(--acc);
    border-radius: 2em;
    transition-duration: 0.3s;
    background-color: var(--bg1);
}
*[type="submit"]:hover, .submit:hover{
    background-color: var(--acc);
    color: var(--bg);
    border-color: var(--bg);
}
*[type="submit"]:active, .submit:active{
    background-color: white;
    border: inset 2px black;
}
.small{
    font-size: 0.75em;
    margin: 0;
}
.quest-mini .small{
    font-size: 1em; margin: 0;
}
.danger{
    background-color: rgb(var(--danger));
}
.section-like{
    border: 3px solid var(--bg2);
    border-radius: 1em;
    padding: 1em;
}
.section-like:last-child{ margin-bottom: 0; }
.black-back{
    background-color: var(--bg1);
    padding: 1em;
}
.gone{
    display: none;
}
video{
    width: 100%;
}

/* NOŻYCZKI */
.sc-line{
    border-style: dashed; border-width: 5px;
    position: relative;
}
.sc-line.top-only{
    border-left: none; border-bottom: none; border-right: none;
}
.sc-line .sc-scissors{
    --height: 42px;
    position: absolute;
    top: calc(-1 * var(--height) - 10px); right: 100px;
    height: var(--height);
}
.sc-line .sc-note1,
.sc-line .sc-note2{
    position: absolute;
}
.sc-line .sc-note1{
    top: -45px; right: 65px;
    height: 30px;
}
.sc-line .sc-note2{
    top: -40px; right: 35px;
    height: 35px;
}

#error-page{
    text-align: center;
    font-size: 1.5em;
}
#error-page h1{
    font-size: 6em;
    margin: 0;
}

/* ALERTS */
.alert{
    border-radius: 1em;
    position: absolute; right: 3em; top: 3em;
    z-index: 99;
    border: 2px solid gray;
    box-shadow: 0.5em 0.5em 1.5em #00000044;
    padding: 1em;
    opacity: 0; translate: 0 -100px;
    transition-duration: 0.3s;
    font-weight: bold;
}
.alert.in{
    opacity: 1;
    translate: 0 0;
}
.success{
    --clr-wh: rgba(var(--ok), 0.4);
    color: rgb(var(--ok));
}
.error{
    --clr-wh: rgba(var(--danger), 0.4);
    color: rgb(var(--danger));
}
.warning{
    --clr-wh: rgba(var(--warning), 0.4);
    color: rgb(var(--warning));
}
.alert.success, .alert.error{
    border-color: currentColor;
    background-color: var(--bg1);
}

.diff-hot{
    color: hsl(45, 100%, 50%)
}
.diff-cold{
    color: hsl(225, 100%, 68%)
}

/* TABLES */
table{
    width: 100%;
    border-spacing: 0;
    text-align: right;
}
td:first-child, th:first-child{
    text-align: left;
}
tr:hover{
    background-color: var(--bg2);
}
.table{
    display: grid;
}
.table .header, .table .footer, th{
    font-weight: bold;
    border: 1px solid var(--acc); border-left: none; border-right: none;
}

/**********************BODY*****************/

.main-wrapper{
    width: 90vw;
    margin: 0 auto; padding: 2em;
}

/**********************HEADER***************/
header{
    padding: 1em 4em;
    display: flex; flex-direction: row; align-items: center; justify-content: space-between;
    flex-wrap: wrap;
    background: var(--bg2);
    /* box-shadow: 0 0 50px #00000077; */
    /* color: black; */
}
header h1{
    margin: 0;
}
header h2{
    font-family: "Raleway";
    margin: 0;
    text-align: center;
}
header .flex-right{
    align-items: baseline;
    gap: 0 0.5em;
}
header .flex-right:first-child{
    align-items: center;
    flex-wrap: nowrap;
}
header .logo{
    height: 3em;
    margin: 0;
}

/**********************NAV******************/
nav{
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
nav a{
    padding: 0.5em;
    border-radius: 1em;
}
nav li{
    list-style-type: none;
}
nav .active{
    background-color: var(--acc);
    color: var(--bg);
}

.pagination{
    justify-content: center;
    margin-top: 1em;
}
.pagination a{
    margin: 0; padding: 0;
}
.pagination li{
    padding: 0.5em;
    border-radius: 2em;
}

/**********************FOOTER***************/
footer{
    background: #111;
    padding: 1em 5em;
    position: absolute; bottom: 0;
    width: calc(100vw - 2*5em);
    display: flex; flex-direction: row-reverse; align-items: center;
    font-size: 85%;
    text-align: right;
    color: white;
}
footer h2, footer p{
    margin: 0;
}
footer>img{
    justify-self: center;
}
footer .contact-info{
    display: flex;
    margin-right: auto;
}

/***** EXTENDO-BLOCKS **********/
.extendo-block{
    --eb-space: 0.5em;
    --eb-border: 1px solid var(--bg2);

    &.warning-like{
        border-color: rgb(var(--warning));
        animation-name: blinking;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    & h1, h2, h3, p, ul{
        margin: 0;
        padding: 0;
    }
    & .hidden{
        display: none;
    }
    & .header{
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        & .titles{
            align-items: baseline;
            text-align: left;
        }
        & .right-side{
            flex-direction: row-reverse;
            align-self: flex-start;
        }
    }
    & .body{
        justify-content: space-evenly;
        align-items: center;
        border-radius: 0;
        gap: 1em;
        &:not(:first-child){
            padding-top: var(--eb-space);
            margin-top: var(--eb-space);
            border-top: var(--eb-border);
        }

        & > *:not(.no-shrinking){
            max-width: 250px;
        }
    }
}

/*****************/

#dashboard-quests{
    display: flex;
    flex-direction: column;
}

.dashboard-mini-wrapper{
    display: flex;
    gap: 1em;
    overflow-x: auto;
}
.quest-mini{
    border-radius: 2em;
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--bg2);
}
.quest-mini .song-title, .quest-mini .client-name{ white-space: nowrap; color: var(--fg); }
.quest-mini .song-title{ padding: 0.2em 0.6em; }

.quest-details{
    display: flex;
    justify-content: space-between;
}
.quest-client{
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
}
.quest-client .client-name{
    margin-bottom: 0.25em;
}
.quest-meta{
    align-self: flex-end;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 2em 1fr;
}
.quest-meta:last-child{
    grid-template-columns: 1fr 2em;
    margin-left: 0.5em;
}
.quest-meta p{
    margin: 0;
}
.quest-meta:first-child p{ text-align: left; }
.quest-meta:last-child p{ text-align: right; }
.quest-meta i{
    font-style: normal;
    text-align: center;
}

.quest-status{
    color: rgb(var(--q-clr));
    font-weight: bold;
    border-radius: 2em;
    white-space: nowrap;
}

.quest-type{
    font-size: 2em;
    width: 1em;
    text-align: center;
}
.quests-table{
    gap: 1em;

    & .table-row{
        display: grid;
        align-items: center;
        padding: 0.5em;
        border-radius: 1em;
    }
    & .table-row:hover{
        background: rgba(var(--q-clr), 0.3);
        color: inherit;
    }
    & .table-header{
        font-weight: bold;
    }
    & .subsection{
        margin-bottom: 3.5em;
    }
    & .quest-main-data{
        display: flex;
        column-gap: 1em;
    }
    & .quest-main-data>span{
        flex-basis: 100%;
    }
    & .song-title{
        margin: 0;
        background: none;
        font-size: 1.1em;
    }
}

.quest-mini .song-title, .quest-mini .song-artist{
    text-align: center;
    margin: 0;
}

.song-title{
    font-size: 1.25rem;
    background-color: rgb(var(--q-clr));
}
.song-title-artist{
    margin-bottom: 0.5em;
    background-color: rgba(var(--q-clr), 0.5);
    border-radius: 1em;
}
.song-title-artist:hover{
    color: inherit;
}

.bulk-box{
    padding: 1em; margin-bottom: 1em;
}

.quest-phase-bars{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 0.3em;
    column-gap: 1.05em;
    padding: 0 0.35em 0 0.7em;
}
.quest-phase-bars div{
    color: var(--bg2);
    background-color: currentColor;
    height: 0.7em;
    position: relative;
    border-radius: 0;
}
.quest-phase-bars div::before, .quest-phase-bars div::after{
    content: "";
    position: absolute;
    border: 0.35em solid transparent;
    box-sizing: border-box;
    width: 0.7em;
    height: 0.7em;
}
.quest-phase-bars div::before{
    left: -0.7em;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
}
.quest-phase-bars div::after{
    right: -0.7em;
    border-left-color: inherit;
}
.quest-phase-bars div:first-child::before{
    border: none;
    background-color: currentColor;
}
.quest-phase-bars div:last-child::after{
    border: none;
    background-color: currentColor;
    width: 0.35em;
    right: -0.35em;
}
.quest-phase-bars .highlighted{
    color: rgb(var(--q-clr));
}

.quest-phase-label{
    display: flex;
    justify-content: center; align-items: baseline;
}
.quest-phase-label h3, .quest-phase-label p{
    margin: 0 0.5em;
    color: rgb(var(--q-clr));
}

.ver_desc{
    max-width: 300px;
}
.ver_desc p, .ver_desc ul, .ver_desc ol{
    margin: 0.2em 0;
}
.ver_desc ul, .ver_desc ol{
    padding-left: 1.5em;
}

#dashboard-unpaids .quest-list a, #finance-unpaids .quest-list>div{
    display: flex;
    width: fit-content;
    margin-left: auto;
    align-items: center;
}
#finance-unpaids input[type='checkbox']{
    height: auto;
}

.hint-table div{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}
#song-summary{
    display: none;
}
.hint-table .grayed-out{
    grid-column: 1 / span 2;
    text-align: center;
}
.hint-table .positions span{
    padding: 0.2em;
}
.hint-table .positions span:nth-child(4n+3), .hint-table .positions span:nth-child(4n){
    background-color: var(--bg2);
}
.hint-table div span:nth-child(even){
    text-align: right;
}
#price-summary .overridden span:nth-child(even){
    text-decoration: line-through;
}
.hint-table .summary{
    font-weight: bold;
}

#quest-box{
    justify-content: center;
    align-items: flex-start;
}
#quest-box section{
    max-width: 600px;
}
#quest-pay{
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em 0; margin-top: 1em;
}
#quest-pay input[type='number']{
    width: 5em;
}

#quest-song-id{
    display: grid;
    gap: 2em;
    grid-template-columns: 1em 1fr;
    align-items: center;
}

#quest-history{
    max-width: none;

    & .history-position{
        display: inline-flex;
        --circle-size: 3rem;

        & .circle{
            margin: 0;
            justify-content: center;
            border-radius: 100%;
            font-size: 1.5em;
            width: var(--circle-size); height: var(--circle-size);
            background: var(--bg1);
            &:hover{
                background: rgba(var(--q-clr), 0.5);
            }
            &.by-client{
                border: 2px solid var(--acc);
            }
        }
        & .notification-counter{
            max-width: var(--circle-size);
            white-space: wrap;
        }
    }
}

#document-dropzone{
    background: none;
}

#stats-buttons{
    margin-top: 1em;
    gap: 0.2em;
    align-items: center;
    max-width: 20em;

    & button{
        margin: 0;
        padding: 0.3em;
    }
}
#stats-log{
    & span:nth-child(2n - 1){ text-align: left; }
    & .active{
        color: var(--acc);
        font-weight: bold;
    }
    & .log-delete{
        display: none;
    }
    & tr:hover .log-delete{
        display: inline;
    }
}

.stats-highlight-h{
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    text-align: center;
    border-top: 1px solid var(--bg2);
    border-bottom: 1px solid var(--bg2);
    border-radius: 0;
    padding: 0.5em 0;
}
.stats-highlight-h p, .stats-highlight-h h3{
    margin: 0;
    display: flex; justify-content: center; align-items: center;
    flex-wrap: wrap;
    gap: 0.2em;
}
.stats-highlight-h h3{
    font-size: 1.5rem;
}

#clients-list .table-row{
    --q-clr: 255, 255, 255;
}
.client-exp{
    font-size: 1.2em;
    font-weight: bold;
}
.upcoming-quests{
    color: var(--acc);
}
.contact-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.client-budget input{
    width: 4em;
}
#clients-stats-graph, .plot{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr auto;
    text-align: center;
    gap: 0.5em;
}
#clients-stats-graph{
    grid-template-rows: 1fr auto auto;
}
.bar{
    background: var(--acc);
    /* background: linear-gradient(to bottom, rgb(var(--ui-clr-1)), var(--fg)); */
    width: 100%;
    border-radius: 0.5em;
}
.horizontal .bar{
    width: unset;
    height: 1.2em;
}
.bar-container{
    display: flex; justify-content: center; align-items: flex-end; position: relative;
}
.bar-container.horizontal{
    justify-content: left;
    align-items: center;
}
#clients-stats-graph .value, .bar-container .value{
    font-family: Montserrat;
    font-size: 1.2em;
}
.bar-container .value{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; text-align: center;
}
.bar-container.horizontal .value{
    text-align: left;
    font-size: 1em;
    left: 0.5em;
}
.plot .label.vertical{
    rotate: 90deg;
    transform-origin: 0 0;
    translate: 2em 0.5em;
}

.quest-links>a:not(:first-child){
    scale: 0.75;
}

.file-adder{
    font-size: 0.7em;
    flex-direction: row; align-items: center;
}
.file-container-a{
    text-align: left;
    background-color: var(--bg2);
    border-radius: 2em;
    padding: 1em; margin: 0.5em 0;
    position: relative;

    & h4 {
        margin: 0;
        border-bottom: 2px solid var(--acc);
    }
    & .file-super {
        position: absolute; bottom: 0; left: 0; right: 0;
        text-align: center;
        font-size: 0.75em;

        &::after, &::before {
            content: "–";
            margin: 0 1em;
        }
    }
}
.file-container-b{
    position: relative;
}
.file-container-b h5{
    margin: 0.5em;
}
.file-container-b>.submit{
    position: absolute; right: 0; top: 0;
    margin: 0;
    font-size: 0.8em;
}
.file-container-c{
    display: flex;
    align-items: center; justify-content: center;
}
.file-tile{
    display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
    width: 3em; height: 4.5em;
    margin: 0.2em;
    border-radius: 1em;
    background-color: var(--bg1);

    & .hidden {
        display: none;
    }
}
.file-tile .container{
    position: relative;
    width: 2em; height: 2em;
}
.file-tile i{
    font-size: 2em;
    position: absolute; top: 0; left: 0;
    display: block; width: 100%;
}
.file-tile.hoverable:hover i:first-child{ opacity: 0; }
.file-tile.hoverable i:last-child{ opacity: 0; }
.file-tile.hoverable:hover i:last-child{ opacity: 1; }
.mp3{ color: rgba(39, 197, 0, 0.8); }
.mp4, .mid{ color: rgba(255, 0, 0, 0.8); }
.wav, .flac{ color: rgba(0, 162, 255, 0.8); }
.pdf, .zip{ color: rgba(150, 153, 155, 0.8); }

.file-tag{
    border-radius: 1em;
    padding: 0 0.2em;
    user-select: none;
}
.file-tag.click{ background-color: rgb(0, 200, 0); }
.file-tag.demo{ background-color: rgb(235, 200, 0); }
.file-tag.melody{ background-color: rgb(120, 0, 200); }
.file-tag.vocal{ background-color: rgb(191, 69, 132); }
.file-tag.transpose{ background-color: aquamarine; color: black; }

.clickable{
    user-select: none;
    cursor: pointer;
}
.folding {
    max-height: 30vh;
    overflow: auto;
    border-radius: 0;
}
.calendar-table td:first-child{
    white-space: nowrap;
}
.cal-row .free{
    opacity: 0.5;
}
.cal-row .weekend{
    color: goldenrod;
}
.cal-row .suggest{
    color:hsl(108, 100%, 39%) !important;
}
.cal-row a{
    display: inline-block;
    margin: 2px;
}
.cal-row .quest-type {
    font-size: 1em;
    margin: 0;
}

.quests-table .song-artist{
    text-align: left;
}

#quick-add-showcase{
    justify-content: center;
    gap: 0.2em;
}
#showcases-list iframe{
    height: 5em;
}

#ppp{
    gap: 0.5em;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

#phases{
    margin-top: 2em;
}
.archmage-quest-phases{
    margin: 0 !important;
}
.archmage-quest-phases .input-container{
    display: inline-flex;
    vertical-align: middle;
}

.invoice-number {
    & .invoice-edit {
        display: none;
    }
    &:hover .invoice-edit {
        display: inline;
    }
}

#invoice{
    position: relative;
}
#invoice .dates{
    position: absolute; right: 0; top: 0;
}
#invoice .account h2,
#invoice .account h3:not(:first-child){
    margin: 0;
}
#invoice .account h3:first-child{
    border-bottom: 2px solid var(--bg2);
}
#invoice .quests-table{
    margin-top: 1em;
}
#invoice .summary{
    text-align: right;
    margin: 1em 0 1em auto;
    width: fit-content;
    font-size: 1.5em;
    gap: 0;
}
#invoice .summary .small{
    margin: 0;
    /* font-size: 0.75em; */
    opacity: 0.5;
}
#invoice .grid-2{
    gap: 0 1em;
    align-items: inherit;
}

@media print{
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        --margin: 36px;
        padding-top: var(--margin);
        padding-bottom: var(--margin);
    }
    footer{
        padding: 0 var(--margin);
        width: calc(100% - 2 * var(--margin));
    }
    .hide-for-print{
        display: none;
    }
    #invoice{
        font-size: 11px;
    }
}

.name-value{
    grid-template-columns: auto auto;
}
.name-value span:nth-child(odd){
    font-weight: bold;
}
.name-value.summary span:nth-child(even){
    font-family: Montserrat;
}

/* quest and request phases */
.p-1, .p-11{ --q-clr: 245, 174, 185; }
.p-12{ --q-clr: 50, 127, 226; }
.p-13{ --q-clr: 163, 124, 87; }
.p-5, .p-15, .p-31, .p-95{ --q-clr: 145, 87, 168; }
.p-6, .p-16, .p-21, .p-26, .p-96{ --q-clr: 207, 60, 60; }
.p-4, .p-7, .p-8, .p-17, .p-18, .p-33{ --q-clr: 175, 175, 175; }
.p-9, .p-19, .p-32, .p-34, .p-14{ --q-clr: 57, 196, 57; }

/************************MOBILITY**************/
@media screen and (max-width: 1030px){
    .force-block{
        display: block;
    }
    .grid-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    body{
        padding-bottom: 0;
        min-height: 100vh;
    }
    .flex-right:not(.keep-for-mobile){
        flex-direction: column;
    }
    .flex-right .mobile-first{ order: 1; }
    .flex-right :not(.mobile-first){ order: 99; }

    .main-wrapper{
        padding: 2em 1em;
        margin: 1em auto;
        flex-grow: 1;
    }

    header{
        flex-direction: row;
        padding: 0.5em 1em;
        position: sticky; top: 0; z-index: 99;
    }
    header h1{
        margin: 0;
        font-size: 1.25em;
    }
    header h2{
        font-size: 1em;
    }
    header>.flex-right{
        flex-direction: row;
    }
    .section-header h1{
        font-size: 1.25em;
    }

    header nav{
        /* width: calc(90vw - 6em); */
        overflow-x: scroll;
        flex-wrap: nowrap; white-space: nowrap;
        justify-content: left;
    }
    nav{
        justify-content: center;
    }
    nav a{
        margin: 0.2em;
    }
    footer{
        position: static;
        width: auto;
        margin-top: 3em; padding: 1em;
        flex-direction: column;
        text-align: center;
    }
    footer .contact-info{
        margin: 1em auto;
    }

    .dashboard-mini-wrapper{
        flex-direction: column;
        align-items: stretch;
    }
    .quest-mini{
        margin: 0;
    }
    .quest-mini .song-title{
        font-size: 1em;
        white-space: normal;
    }

    #quest-box{
        align-items: stretch;
    }

    form:has(#stats-buttons){
        flex-direction: row !important;
    }

    .file-adder{
        display: none;
    }
    .file-container-c{
        flex-wrap: wrap;
    }
    .file-container-c audio, .file-container-c video{
        flex-basis: 100%;
    }

    #requests-list .quests-table .table-row, #quests-list .quests-table .table-row{
        display: flex; flex-wrap: wrap; justify-content: space-between;
    }
    .quests-table .quest-status,
    .quests-table .quest-main-data,
    .quests-table .contact-info
    {
        flex-basis: 100%;
        /* text-align: center; */
    }
    .client-exp{ flex-basis: 15%; }
    .client-main-data{ flex-basis: 85% }
    #clients-stats-graph{
        grid-template-columns: repeat(5, 20%);
    }
    #clients-stats-graph .label{
        rotate: -60deg;
        transform-origin: 0 0;
        white-space: nowrap;
    }

    .flex-right{
        gap: 0.2em;
    }
    .grid-2, .grid-3, .section-header>div{
        display: flex;
        flex-direction: column;
        align-items: inherit;
    }
    .login-grid-container{
        padding: 0.5em 0;
    }

    .quest-meta{
        align-self: flex-end;
    }

    #ppp{
        flex-direction: column;
        align-items: stretch;
    }
}

@keyframes blinking {
    50% {
        border-color: var(--bg2);
    }
}
