body{
    padding-bottom: 7em;
    min-height: calc(100vh - 7em);
    background-color: var(--bg); color: var(--fg);
    --bg: #222; --fg: white;
}
h2{
    font-size: 1.2em;
}
section{
    border-radius: 2em;
    background-color: #00000033;
    /* box-shadow: 2px 2px 5px #00000044; */
    margin: 1em 1em 0;
    padding: 1em;
}
.grid-2, .grid-3{ display: grid; }
.grid-2{ grid-template-columns: 1fr 1fr; }
.grid-3{ grid-template-columns: 1fr 1fr 1fr; }

form, .login-grid-container, .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.input-container.input-small input, .input-container.input-small select{
    font-size: 1em;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.login-grid-container{
    padding: 0 2em;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-header h1{
    margin-top: 0;
}
.section-header>div{
    display: flex;
    flex-direction: column;
    text-align: right;
}


#dashboard-quests{
    display: flex;
    flex-direction: column;
}

.dashboard-mini-wrapper{
    display: flex;
    overflow-x: auto;
}
.quest-mini{
    border-radius: 2em;
    margin: 1em; padding: 1em;
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid rgb(var(--q-clr));
    box-sizing: border-box;
    background-color: white;
    /* background: linear-gradient(to bottom right, rgba(var(--q-clr), 0.5), white, rgba(var(--q-clr), 0.5)); */
}
.quest-mini .song-title, .quest-mini .client-name{ white-space: nowrap; }
.quest-mini .song-title{ padding: 0.2em 0.6em; }

.quest-details{
    display: flex;
    justify-content: space-between;
}
.quest-meta{
    width: fit-content;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 2em 1fr;
}
.quest-meta p{
    margin: 0;
}
.quest-meta:first-child p{ text-align: left; }
.quest-meta:last-child p{ text-align: right; }
.quest-meta i{
    font-style: normal;
    text-align: center;
}

.quest-links{
    font-size: 1.5em;
}

.quest-status{
    color: rgb(var(--q-clr));
    font-weight: bold;
    border-radius: 2em;
    white-space: nowrap;
}

.quests-table .quest-type{
    font-size: 2em;
}
.quests-table .table-row{
    display: grid;
    align-items: center;
    padding: 0.5em;
    border-radius: 1em;
}
.quests-table .table-row:hover{
    background: rgba(var(--q-clr), 0.3);
    color: initial;
}
.quests-table .table-header{
    font-weight: bold;
}

.song-title, .song-artist{
    text-align: center;
    margin: 0;
}
.song-title{
    font-size: 1.25rem;
    background-color: rgb(var(--q-clr));
    margin-bottom: 0.5em;
    border-radius: 2em;
}
.quests-table .song-title{
    text-align: left;
    margin: 0;
    background: none;
    font-size: 1.1em;
}

.quest-phase-bars{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0.3em;
}
.quest-phase-bars div{
    background-color: lightgray;
    margin: 0 0.1em;
    height: 0.7em;
    border-radius: 1em;
}
.quest-phase-bars .highlighted{
    background-color: rgb(var(--q-clr));
}

.quest-phase-label{
    display: flex;
    justify-content: center; align-items: baseline;
}
.quest-phase-label h3, .quest-phase-label p{
    margin: 0 0.5em;
    color: rgb(var(--q-clr));
}

.hint-table div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
.hint-table .grayed-out{
    grid-column: span 1/1;
}
.hint-table div span:nth-child(even){
    text-align: right;
}
#price-summary .overridden span:nth-child(even){
    text-decoration: line-through;
}
.hint-table .summary{
    font-weight: bold;
}

#request-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* quest and request phases */
.p-1, .p-11{ --q-clr: 245, 174, 185; }
.p-12{ --q-clr: 125, 230, 230; }
.p-13{ --q-clr: 163, 124, 87; }
.p-5, .p-15{ --q-clr: 145, 87, 168; }
.p-6, .p-16, .p-26{ --q-clr: 207, 60, 60; }
.p-7, .p-8, .p-18{ --q-clr: 175, 175, 175; }
.p-9, .p-19{ --q-clr: 57, 196, 57; }

/************************MOBILITY**************/
@media screen and (max-width: 960px){
    .grid-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    section{
        margin: 1em 0;
    }
    .grid-3{
        flex-direction: column;
    }
    .login-grid-container{
        padding: 0.5em 0;
    }

    .quest-mini{
        flex-direction: column;
    }
    .quest-meta{
        align-self: flex-end;
    }
}
