body{
    padding-bottom: 7em;
    min-height: calc(100vh - 7em);
}
h2{
    font-size: 1.2em;
}
section{
    border-radius: 2em;
    background-color: #eee;
    /* box-shadow: 2px 2px 5px #00000044; */
    margin: 1em;
    padding: 1em;
}

form, .login-grid-container, .input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.login-grid-container{
    padding: 0 2em;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-header h1{
    margin-top: 0;
}
.section-header>div{
    display: flex;
    flex-direction: column;
    text-align: right;
}


#dashboard-quests{
    display: flex;
    flex-direction: column;
}

.dashboard-mini-wrapper{
    display: flex;
    overflow-x: auto;
}
.quest-mini{
    border-radius: 2em;
    margin: 1em; padding: 1em;
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid var(--q-clr);
    box-sizing: border-box;
    background-color: #eee;
    /* background: linear-gradient(to bottom right, var(--q-clr) 50%, white); */
}
.quest-mini .song-title, .quest-mini .client-name{ white-space: nowrap; }
.quest-meta{
    width: fit-content;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 2em 1fr;
}
.quest-meta p{
    margin: 0;
    text-align: right;
}
.quest-meta i{
    font-style: normal;
    text-align: center;
}

.quest-status{
    margin: 0.25em 0; padding: 0.25em 0;
    font-style: italic;
    text-align: center;
    /* opacity: 0.5; */
    color: var(--q-clr);
    background-color: black;
    border-radius: 2em;
}
.song-title{
    font-size: 1.25rem;
    margin: 0;
}
.song-artist{
    margin: 0;
}

/* quest and request phases */
.p-1, .p-11{ --q-clr: #f5aeb9; }
.p-12{ --q-clr: #7de6e6; }
.p-13{ --q-clr: #a37c57; }
.p-5, .p-15{ --q-clr: #9157a8; }
.p-6, .p-16, .p-26{ --q-clr: #cf3c3c; }
.p-7, .p-8, .p-18{ --q-clr: #afafaf; }
.p-9, .p-19{ --q-clr: #39c439; }

/************************MOBILITY**************/
@media screen and (max-width: 900px){
    .grid-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 600px){
    section{
        margin: 1em 0;
    }
    .grid-3{
        flex-direction: column;
    }
    .login-grid-container{
        padding: 0.5em 0;
    }

    .quest-mini{
        flex-direction: column;
    }
    .quest-meta{
        align-self: flex-end;
    }
}
