*{
    font-size: 16px;
    transition: all 0.5s;
}
header{
    padding: 0.5em 4em;
    justify-content: space-between;
    position: sticky; top: 0;
    z-index: 15;
}
header .logo{
    height: 3em;
}
b, strong{
    color: var(--acc);
}
.flex-right{
    flex-wrap: nowrap;
}

section{
    border: none;
    text-align: center;
    max-width: 90vw; margin: 1em auto;
}
section>div{
    margin-bottom: 1em;
}

h1{
    font-size: 2em;
}

.flex-right{
    justify-content: center;
}

#home{
    font-size: 1.25em;
    box-sizing: border-box;
    margin: 3em auto; padding: 3em 10em;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}
#home li{
    list-style-type: none;
}
.company-name{
    align-items: center;
    text-align: left;
}
.company-name .logo{
    height: 12em;
}
.company-name h1{
    margin: 0;
}
.company-name p{
    margin-bottom: 0;
}

#offer .main{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    column-gap: 1em;
    max-width: 80%;
}
#offer div:nth-of-type(2){ margin-left: 10%; }
#offer div:nth-of-type(3){ margin-left: 20%; }
#offer div>i{
    font-size: 4em;
}
#offer div>ul{
    text-align: left;
}

#recomms img{
    border-radius: 100%;
}
#recomms .section-like{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#recomms .section-like img{
    width: 10em;
}
#recomms p{
    font-style: italic;
}
#recomms-other img{
    width: 8em;
    filter: grayscale(1);
}
#recomms-other img:hover{
    filter: grayscale(0.2);
}

#showcase-mp3s{
    flex-wrap: wrap;
}
.sampleproj{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}
.sampleproj:hover{
    border-color: var(--sampleproj);
}
.sampleproj:hover p{
    font-weight: bold; color: var(--sampleproj);
}
.sampleproj:nth-of-type(5n){ --sampleproj: hsl(0, 70%, 70%); }
.sampleproj:nth-of-type(5n+1){ --sampleproj: hsl(72, 70%, 70%); }
.sampleproj:nth-of-type(5n+2){ --sampleproj: hsl(144, 70%, 70%); }
.sampleproj:nth-of-type(5n+3){ --sampleproj: hsl(216, 70%, 70%); }
.sampleproj:nth-of-type(5n+4){ --sampleproj: hsl(288, 70%, 70%); }

#showcase-scores img{
    width: 25vw;
    position: relative; z-index: 1;
    border-radius: 1em;
}
#showcase-scores img:hover{
    scale: 2;
    z-index: 10;
}
#songs ul{
    text-align: left;
    padding: 0;
    list-style-type: none;
    max-height: 20em;
    display: flex; flex-direction: column; flex-wrap: wrap;
    gap: 0.1em 0.5em;
    overflow-x: scroll;
}


.front-table{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.front-table span{ padding: 0.2em 0.5em; }
.front-table span:nth-of-type(odd){ text-align: left;}
.front-table span:nth-of-type(even){ text-align: right;}
.front-table span:nth-of-type(4n+1),
.front-table span:nth-of-type(4n+2){ background: var(--bg2) }
.front-table .header{ grid-column: 1 / span 2; }

#faq{
    text-align: left;
}
#faq li:nth-child(odd){ font-family: Montserrat }
#faq li:nth-child(even){ margin-bottom: 1em; list-style-type: circle; }

#about div{
    --a-width: 15em;
    align-items: center;
    text-align: left;
}
#about img{
    border-radius: 1em;
    width: var(--a-width);
}
#about p{
    width: calc(var(--a-width) * 2);
    text-align: left;
}

form button{
    grid-column: 1 / span 2;
}

#contact .flex-right{
    justify-content: center; align-items: center;
}

.cookie-consent{
    position: fixed; bottom: 5em;
    width: 100vw;
}
.cookie-consent div{
    width: max-content;
    margin: 0 auto; padding: 0.5em;
    background-color: var(--acc); color: black;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    border-radius: 2em;
}
.cookie-consent p{
    margin: 0;
}
.cookie-consent button{
    margin-left: 1em; padding: 0.5em 1em;
    border: 2px solid var(--bg); border-radius: 1em;
    background: var(--bg1);
    color: var(--fg);
}
.cookie-consent button:hover{
    background: var(--acc);
    color: black;
}

/* shadows */
.cookie-consent div,
#showcase-scores img:hover{
    box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.3);
}

/* animate on scroll */
.hidden{
    opacity: 0;
}
.black-back.hidden,
ul.hidden,
li.hidden,
img.hidden
{ translate: -50px 0; }

.section-like.hidden,
h2.hidden,
.front-table span.hidden
{ translate: 0 50px; }

/* staggers*/
#offer .main:nth-of-type(2),
#offer-other span:nth-of-type(2),
#recomms .section-like:nth-of-type(2),
#recomms-other img:nth-of-type(2),
#about ul
{ transition-delay: 200ms; }

#offer .main:nth-of-type(3),
#offer-other span:nth-of-type(3),
#recomms .section-like:nth-of-type(3)
{ transition-delay: 400ms; }


@media screen and (max-width: 600px){
    *{
        font-size: 12px;
    }
    iframe{
        width: 100%; height: 100%;
    }
    header nav{
        width: auto;
        overflow-x: initial;
        flex-wrap: wrap; white-space: initial;
        justify-content: initial;
    }

    #home{
        padding: 1em;
    }
    .company-name{
        text-align: center;
    }

    #offer .main{
        max-width: 100%;
    }
    #offer div{
        margin-left: initial !important;
    }

    #showcase-mp3s{
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: left;
    }
    #showcase-scores img{
        width: 100%;
    }

    .grid-2{
        display: block;
    }

    /* flex mods */
    #offer .main,
    #offer-other span,
    #showcase-scores
    {
        display: flex; flex-direction: column;
    }
    #recomms-other,
    #showcase-mp3s
    {
        flex-direction: row;
    }

    .cookie-consent div{
        width: 90vw;
        flex-direction: column;
        text-align: center;
    }
    .cookie-consent button{
        margin: 0 auto;
    }
}
