b, strong{
    color: var(--primary);
}

.button.major {
    font-size: 2em;
    display: block;
    text-align: center;
}

.company-name{
    align-items: center;
    text-align: left;

    & .logo{
        height: 12em;
    }

    & h1,
    & h2,
    & p {
        margin: 0;
    }
}

#home{
    font-size: 1.25em;
    box-sizing: border-box;
    margin: 3em auto 0; padding: 3em 10em;
    display: flex; justify-content: center; align-items: center; flex-direction: column;

    & .appear-cycle {
        & > span {
            position: absolute;
            animation: appearing 9s infinite;
            opacity: 0;
            --target-opacity: 1;

            &:nth-child(2) {
                animation-delay: 3s;
            }
            &:nth-child(3) {
                animation-delay: 6s;
            }
        }
    }

    & li{
        list-style-type: none;
    }
}

[role="service"] {
    display: none;

    &.active {
        display: block;
    }
}

[role="services"] {
    position: sticky;
    z-index: 99;
    top: -5em;

    & h2,
    & p {
        margin: 0;
    }

    & > p {
        margin-block: 3em 1em;
        text-align: center;
    }

    & [role="service-button"] {
        &.active {
            border-color: var(--primary);
        }
    }

    & .icon{
        height: 5em;
        margin: 0.25em;

        &.small {
            height: 1.6666em;
            display: block;
        }
    }
}

ul.no-points {
    margin-inline: auto;
    padding-inline: 1em;
    text-align: center;
    width: fit-content;

    & li {
        list-style-type: none;
    }
}

section {
    text-align: center;
    margin: 1em auto;
    width: 90vw;

    &:not(#showcases, .sc-line) {
        border: none;
    }

    & > div{
        margin-bottom: 1em;
    }
}

/******************/

#offer {
    & .main{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 3fr 4fr;
        column-gap: 1em;
        max-width: 80%;
    }

    & .main .icon:not(.hint .icon),
    & .location .icon {
        font-size: 5em;
    }

    & .location {
        color: var(--primary);
    }

    & div:nth-of-type(2) {
        margin-left: 10%;
    }
    & div:nth-of-type(3) {
        margin-left: 20%;
    }
    & div > ul{
        text-align: left;
    }
}

#recomms {
    margin-top: 4em;
    & img{
        border-radius: 100%;
    }
    & .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & .section img{
        width: 10em;
    }
    & p{
        font-style: italic;
    }
    & .flex-right{
        align-items: center;
    }

    & .pinned-comments {
        overflow-x: scroll;
        white-space: nowrap;

        & > * {
            display: inline-block;
            max-width: 20em;
            vertical-align: middle;
            white-space: normal;
        }
    }
}
#recomms-other {
    & img{
        width: 8em;
        filter: grayscale(1);
    }
    & img:hover{
        filter: grayscale(0.2);
    }
}

#showcase-mp3s{
    flex-wrap: wrap;
}
.sampleproj{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;

    &:hover{
        border-color: var(--sampleproj);
    }
    &:hover p{
        font-weight: bold; color: var(--sampleproj);
    }

    &:nth-of-type(5n){ --sampleproj: hsl(0, 70%, 70%); }
    &:nth-of-type(5n+1){ --sampleproj: hsl(72, 70%, 70%); }
    &:nth-of-type(5n+2){ --sampleproj: hsl(144, 70%, 70%); }
    &:nth-of-type(5n+3){ --sampleproj: hsl(216, 70%, 70%); }
    &:nth-of-type(5n+4){ --sampleproj: hsl(288, 70%, 70%); }
}

#showcase-scores img{
    width: 25vw;
    position: relative; z-index: 1;
    border-radius: 1em;

    &:hover{
        scale: 2;
        z-index: 10;
    }
}

#songs ul{
    text-align: left;
    padding: 0;
    list-style-type: none;
    max-height: 20em;
    display: flex; flex-direction: column; flex-wrap: wrap;
    gap: 0.var(--size-m) var(--size-xs);
    overflow-x: scroll;
}
#song-demo-popup {
    display: none;
    position: fixed; z-index: 99;
    top: 0; left: 0; right: 0; bottom: 0;
    backdrop-filter: blur(1em);
    justify-content: center; align-items: center;

    &.open {
        display: flex;
    }
    & .popup-contents {
        gap: 1em;

        & h3, p {
            margin: 0;
        }
    }
}


.front-table{
    display: grid;
    grid-template-columns: 4fr 1fr;

    & span{ padding: 0.25em 0.5em; }
    & span:nth-of-type(odd){ text-align: left;}
    & span:nth-of-type(even){ text-align: right;}
    & span:nth-of-type(4n+1),
    & span:nth-of-type(4n+2){ background: var(--bg-lite2) }
    & .header{ grid-column: 1 / span 2; }
}

#faq{
    text-align: left;

    & li:nth-child(odd){ font-family: Montserrat; }
    & li:nth-child(even){ margin-bottom: 1em; list-style-type: circle; }
}

#about {
    & div {
        --a-width: 15em;
        align-items: center;
        text-align: left;
    }
    & .photo{
        width: var(--a-width);
    }
}

.cookie-consent {
    position: fixed; bottom: 5em;
    width: 100vw;

    & div{
        width: max-content;
        margin: 0 auto; padding: var(--size-xs);
        background-color: var(--primary); color: black;
        display: flex; flex-direction: row;
        justify-content: center; align-items: center;
        border-radius: 2em;
    }
    & p{
        margin: 0;
    }
    & button{
        margin-left: var(--size-m); padding: var(--size-xs) var(--size-m);
        border: 2px solid var(--bg); border-radius: var(--size-m);
        background: var(--bg1);
        color: var(--fg);
    }
    & button:hover{
        background: var(--primary);
        color: black;
    }
}

/* animate on scroll */
.scroll-hidden {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}
.scroll-hidden.black-back,
ul.scroll-hidden,
li.scroll-hidden,
img.scroll-hidden {
    translate: -50px 0;
}

.scroll-hidden.section,
h2.scroll-hidden,
span.scroll-hidden {
    translate: 0 50px;
}

@media screen and (max-width: 900px) {
    .service-label {
        display: none;
    }

    #home {
        & .appear-cycle {
            & span {
                left: 0; right: 0;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .company-name {
        text-align: center;
    }

    #home {
        padding: 1em;
    }

    #offer {
        & .main{
            display: flex;
            flex-direction: column;
            max-width: none;
        }

        & .main .icon,
        & .location .icon {
            font-size: 5em;
        }

        & .location {
            color: var(--primary);
        }

        & div {
            margin-left: 0 !important;
        }
        & div > ul{
            text-align: left;
        }
    }
}
