body{
    height: initial;
    padding-bottom: 0;
}
footer{
    position: static;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
footer h3{
    margin: 0;
}
footer .contact-info{
    margin: 1em 0;
}

#quote-summary div{
    text-align: center;
    margin: 1em 0;
}
#quote-summary p{
    margin: 0;
}
